@model BudzetDomowyApp.Models.Operacja

@{
    ViewData["Title"] = "Dodaj nową operację";
}

<div class="container mt-4">
    <h2 class="mb-3">Dodaj nową operację</h2>

    <div style="background-color: white; border: 2px solid black; border-radius: 8px; padding: 20px;">

        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="Kategoria" class="form-label">Kategoria</label>
            <select asp-for="Kategoria" class="form-select" style="border: 1px solid black;">
            <option value="">-- wybierz kategorię --</option>
            <option>Jedzenie</option>
            <option>Rachunki</option>
            <option>Transport</option>
            <option>Rozrywka</option>
            <option>Praca</option>
            <option>Media</option>
            <option>Inne</option>
        </select>



                <span asp-validation-for="Kategoria" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Kwota" class="form-label">Kwota</label>
                <input asp-for="Kwota" class="form-control" style="border: 1px solid black;" />
                <span asp-validation-for="Kwota" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Data" class="form-label">Data</label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <button type="submit" class="btn" style="background-color: #1a472a; color: white; font-weight: bold;">
                Zapisz
            </button>

            <a asp-action="Index" class="btn" style="background-color: black; color: white; font-weight: bold;">
                Wróć do listy
            </a>
        </form>
    </div>
</div>
