@model BudzetDomowyApp.Models.Operacja

@{
    ViewData["Title"] = "Usuń operację";
}

<h2>@ViewData["Title"]</h2>

<div class="p-4 mt-3 shadow-sm" style="background-color: #f2e5d7; border: 2px solid black; border-radius: 8px;">
    <h4>Czy na pewno chcesz usunąć tę operację?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Kategoria</dt>
        <dd class="col-sm-9">@Model.Kategoria</dd>

        <dt class="col-sm-3">Kwota</dt>
        <dd class="col-sm-9">@Model.Kwota.ToString("F2")</dd>

        <dt class="col-sm-3">Data</dt>
        <dd class="col-sm-9">@Model.Data.ToShortDateString()</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-dark">Wróć do listy</a>
    </form>
</div>
