@model BudzetDomowyApp.Models.Operacja

@{
    ViewData["Title"] = "Szczegóły operacji";
}

<h2>@ViewData["Title"]</h2>

<div class="p-4 mt-3 shadow-sm" style="background-color: #f2e5d7; border: 2px solid black; border-radius: 8px;">
    <dl class="row">
        <dt class="col-sm-3">Kategoria</dt>
        <dd class="col-sm-9">@Model.Kategoria</dd>

        <dt class="col-sm-3">Kwota</dt>
        <dd class="col-sm-9">@Model.Kwota.ToString("F2")</dd>

        <dt class="col-sm-3">Data</dt>
        <dd class="col-sm-9">@Model.Data.ToShortDateString()</dd>
    </dl>

    <a asp-action="Index" class="btn btn-dark mt-3">Wróć do listy</a>
</div>
